<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Admin_Signup</servlet-name>
        <servlet-class>Admin_Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Menu</servlet-name>
        <servlet-class>Add_Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_menu</servlet-name>
        <servlet-class>update_menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_order</servlet-name>
        <servlet-class>update_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_emp</servlet-name>
        <servlet-class>add_emp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_emp</servlet-name>
        <servlet-class>update_emp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp_attendance</servlet-name>
        <servlet-class>emp_attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_cart</servlet-name>
        <servlet-class>update_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>place_order</servlet-name>
        <servlet-class>place_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersignup</servlet-name>
        <servlet-class>usersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_feedback</servlet-name>
        <servlet-class>submit_feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Signup</servlet-name>
        <url-pattern>/Admin_Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Menu</servlet-name>
        <url-pattern>/Add_Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_menu</servlet-name>
        <url-pattern>/update_menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_order</servlet-name>
        <url-pattern>/update_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_emp</servlet-name>
        <url-pattern>/add_emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_emp</servlet-name>
        <url-pattern>/update_emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp_attendance</servlet-name>
        <url-pattern>/emp_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_cart</servlet-name>
        <url-pattern>/update_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>place_order</servlet-name>
        <url-pattern>/place_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersignup</servlet-name>
        <url-pattern>/usersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_feedback</servlet-name>
        <url-pattern>/submit_feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
